<form (submit)="submit()" [formGroup]="updateUserForm" class="mb-5">
  <div class="form-group col-lg-4">
    <label for="firstName">First name</label>
    <input type="text" class="form-control" id="firstName" [formControlName]="'firstName'" name="firstName">
    <div class="error-message text-danger" *ngIf="updateUserForm.get('firstName')?.errors?.['required']"> First name is required! </div>

  </div>
  <div class="form-group col-lg-4">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" id="lastName" [formControlName]="'lastName'" name="lastName">
    <div class="error-message text-danger" *ngIf="updateUserForm.get('lastName')?.errors?.['required']"> Last name is required! </div>

  </div>
  <div class="form-group col-lg-4">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" [formControlName]="'email'" name="email">
    <div class="error-message text-danger" *ngIf="updateUserForm.get('email')?.errors?.['required']"> Email is required! </div>
  </div>
  <h4>Permissions:</h4>
  <div class="form-group col-lg-4">
    <label for="canCreate">Can create other users</label>
    <input style="margin-left: 5px" type="checkbox" class="form-check-input" id="canCreate" [checked]="setCanUserCreateUsers()" (change)="toggleCanCreateUsers()">
  </div>
  <div class="form-group col-lg-4">
    <label for="canRead">Can read other users</label>
    <input style="margin-left: 5px" type="checkbox" class="form-check-input" id="canRead" [checked]="setCanUserReadUsers()" (change)="toggleCanReadUsers()">
  </div>
  <div class="form-group col-lg-4">
    <label for="canUpdate" >Can update other users</label>
    <input style="margin-left: 5px" type="checkbox" class="form-check-input" id="canUpdate" [checked]="setCanUserUpdateUsers()" (change)="toggleCanUpdateUsers()">
  </div>
  <div class="form-group col-lg-4">
    <label for="canDelete">Can delete other users</label>
    <input style="margin-left: 5px" type="checkbox" class="form-check-input" id="canDelete" [checked]="setCanUserDeleteUsers()" (change)="toggleCanDeleteUsers()">
  </div>
  <button style="margin-top: 10px" type="submit" class="btn btn-primary">Update</button>
</form>
